.post {
    padding: 2rem 3rem;
    margin: 1rem 1.3rem;
    border: 2px solid orangered;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    border-radius: 2em;
}

.post h3 {
    font-size: large;
    text-transform: uppercase;
}

.post p::first-letter {
    text-transform: capitalize;
}